{% load static%}
<!DOCTYPE html>
<html>
<div class="Tittle">
<h1> LOGIN PAGE</h1>
</div>

<body>
{% comment %} <body bgcolor="orange"> {% endcomment %}
  {% comment %} <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}"> {% endcomment %}
  {% block content %}
  {% endblock  %}
    <div class="loginblock">
      <form action=" /"method ="post" class="login100-form validate-form">
        {% csrf_token %}
        <input type="text" name ="username" placeholder="UserName"><br>
     
        <input type="password" name ="password" placeholder="Password"><br>
     
        <input type="submit">
        <button type="button" class="login100-form-btn" >
        <a href="{% url 'register' %}"  method="post">NEW USER </a> 
        </button>
      </form>  


    </div>

    <div>
    {% for message in messages%}
    <h3> {{message}}</h3>
    {% endfor %}
    </div>    

</body>
</html>