<!DOCTYPE html>
<html>
    <h1> REGISTER PAGE</h1>
    

<body>

<body bgcolor="green">

  {% block content %}
 {% endblock  %}
  
 <form action="register"  method ="post">
     {%csrf_token%}
     <input type="text" name ="name" placeholder="Name" required ><br>
     {% comment %} <input type="text" name ="last_name" placeholder="LastName"><br> {% endcomment %}
     <input type="text" name ="age" placeholder="AGE" required ><br>
     <input type="text" name ="mobile" placeholder="mobile number" required><br> 

     <input type="text" name ="username" placeholder="UserName" required><br>
     <input type="email" name ="email" placeholder="Email" required><br>
     <input type="password" name ="password1" placeholder="Password" required><br>
     <input type="password" name ="password2" placeholder="Confirm Password" required><br>  
     <input type="submit">
 </form>

<div>
    {% for message in messages%}
    <h3> {{message}}</h3>
    {% endfor %}
</div>    

</body>
<button type="button" class="login100-form-btn"  >
    <a href="{% url 'login' %}" >Back</a> 
</button> 
</html>